@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
@import "src/common/components/button/Button.module.scss";

.contactsBlock {
  @include container();
  @include flex(column, flex-start, center, nowrap);
  background-color: $bgColor;
  min-height: 60vh;
  .formFields {
    @include flex(column, flex-start, stretch, nowrap);
    margin: 30px 0;
    width: 100%;
    max-width: 500px;
    input, textarea {
      width: 100%;
      margin: 5px;
      height: auto;
      background-color: $bgSecondColor;
      border: 1px solid #4a4a4a;
      padding: 5px 15px;
      line-height: 1.5;
      font: 400 14px/1.8 'Poppins', sans-serif;
      color: $textColor;
      resize: vertical;
     
      &:-webkit-autofill {
        border: 1px solid #4a4a4a;
        -webkit-text-fill-color: #495057;
        -webkit-box-shadow: 0 0 0 1000px #252527 inset;
        transition: background-color 5000s ease-in-out 0s;
        &:focus {
          border: 2px solid $bgSecondColor
        }  
      }
    }
    button[type="submit"] {
      @extend .btn;
      align-self: center;
      background-color: transparent;
      margin-top: 30px;
    }
  }
}



