@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.remBlock {
    background-color: $bgSecondColor;
    .remContainer {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
}




