@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.skillsBlock {
    min-height: 100vh;
    background-color: $bgSecondColor;
    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;
        .skills {
            //border: 1px solid;
            width: 100%;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            margin: 36px 0;
            @media screen and (max-width: 950px) {
                    justify-content: center;
            }
        }
    }
}